@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,400italic,300italic);

@font-face {
    font-family: 'Sansation';
    src: url('/snippets_test/static/fonts/sansation/Sansation-Light.ttf') format('truetype');
    src: url('/snippets_test/static/fonts/sansation/Sansation-Regular.ttf') format('truetype');
}

.opt_font_robo {
  font-family: 'Roboto', sans-serif;
}

.opt_font_sansa {
  font-family: 'Sansation', sans-serif;
}

.section-header {
    background-color: #34495E;
    padding: 20px 0 20px;
    text-align: center;
}